.heading {
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    font-weight: bold;
    font-size: 2em;
}

.dataDiv {
    float: left;
    margin: 20px 20px 0 20px;
}

.image {
    clear: right;
}

div.tile {
    margin: 20px;
    text-align: left;
    padding: 20px;
    height: auto;
    border-radius: 5px;
    opacity: 90%;
    background-color: white;
    max-width: 20em;
}

p {
    font-size: 1.5em;
    margin-bottom: 0;
}

.sub,
.sup {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 40px;
    margin-bottom: 10px;
}

.temp {
    margin: 0;
}

.icon-title {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}